.dropdownCustom {
  float: left;
  overflow: hidden;
}

.dropdownCustom .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  padding: 8px;
}

.navbar a:hover,
.dropdownCustom:hover .dropbtn {
  transform: scale(1.1);
  background-color: rgba(116, 138, 236, 0.127);
  border-radius: 5px;
}

.dropdownCustom-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownCustom-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdownCustom-content a:hover {
  background-color: #ddd;
}

.dropdownCustom:hover .dropdownCustom-content {
  display: block;
}

@media (width <= 991.98px) {
  .navbar a:hover,
  .dropdownCustom:hover .dropbtn {
    transform: scale(1);
    background-color: rgb(204, 227, 247);
  }
}
